{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock %}

{% block head_css %}
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=70b481f827ce15d5e5524fe1dd38a6fe"></script>
{% endblock %}

{% block body_1 %}
    <h1>{% trans "Welcome to STUDYWISE" %}</h1>

    <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
{% endblock %}

{% block body_2 %}
    <div id="map" style="width:150px;height:150px;"></div>
    <script src="{% static 'js/common/kakaomapCurrentAxis.js' %}"></script>
{% endblock %}
