{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% providers_media_js %}

{% block head_title %}
    <title>STUDYWISE INTRO</title>
{% endblock %}

{% block head_css %}
{#    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" media="screen">#}

    <link href="{% static 'css/feedcss.css' %}" rel="stylesheet">

    <style>
        * {
            font-family: 'Do Hyeon';
            font-size: 30px;
        }
    </style>
{% endblock %}

{% block head_js %}
    <script>
        let navbar = "home";
        sessionStorage.setItem("navbar", navbar);
    </script>
{% endblock %}

{% block body_1 %}
    {% if user.is_authenticated %}
        <div class="post-container">
        <div class="wrap">
            <div class="post">
                <div class="post-header">
                    <a href="#" class="profile"><img src="../image/logo_fav.png" alt=""></a>
                    <a href="#">Class: Soo's Business - Business Analysis</a>
                </div>
                <div class="thumbnail" style="cursor: pointer;" onclick="window.location='../intro.html';">
                    <img src="https://picsum.photos/600/600/?random" alt="">
                </div>
                <div class="post-footer">
                    <ul class="btn-container">
                        <li><a href="#"><img src="../image/member.png" alt="">15/20</a></li>
                        <li><a href="#"><img src="../image/price.png" alt="">$70</a></li>
                    </ul>
                    <div class="like-container">
                        <a href="#">[모집 중] 2021-01-07 ~ 2021-10-19</a>
                    </div>
                    <div class="text-container">
                        This course provides everything you need to get started in your career
                        in business analysis. Our courses focus on how analysis is performed in the real world, and they're full of examples,
                        case studies and lessons learned from actual Business Analysts on the job.
                        <a href="#">More</a>
                    </div>
                    <div class="time-container">13분 전</div>
                </div>
            </div>

            <div class="post">
                <div class="post-header">
                    <a href="#" class="profile"><img src="../image/logo_fav.png" alt=""></a>
                    <a href="#">Class: Soo's Business - Business Analysis</a>
                </div>
                <div class="thumbnail" style="cursor: pointer;" onclick="window.location='../intro.html';">
                    <img src="https://picsum.photos/600/600/?random" alt="">
                </div>
                <div class="post-footer">
                    <ul class="btn-container">
                        <li><a href="#"><img src="../image/member.png" alt="">15/20</a></li>
                        <li><a href="#"><img src="../image/price.png" alt="">$70</a></li>
                    </ul>
                    <div class="like-container">
                        <a href="#">[모집 중] 2021-01-07 ~ 2021-10-19</a>
                    </div>
                    <div class="text-container">
                        This course provides everything you need to get started in your career
                        in business analysis. Our courses focus on how analysis is performed in the real world, and they're full of examples,
                        case studies and lessons learned from actual Business Analysts on the job.
                        <a href="#">More</a>
                    </div>
                    <div class="time-container">13분 전</div>
                </div>
            </div>

            <div class="post">
                <div class="post-header">
                    <a href="#" class="profile"><img src="../image/logo_fav.png" alt=""></a>
                    <a href="#">Class: Soo's Business - Business Analysis</a>
                </div>
                <div class="thumbnail" style="cursor: pointer;" onclick="window.location='../intro.html';">
                    <img src="https://picsum.photos/600/600/?random" alt="">
                </div>
                <div class="post-footer">
                    <ul class="btn-container">
                        <li><a href="#"><img src="../image/member.png" alt="">15/20</a></li>
                        <li><a href="#"><img src="../image/price.png" alt="">$70</a></li>
                    </ul>
                    <div class="like-container">
                        <a href="#">[모집 중] 2021-01-07 ~ 2021-10-19</a>
                    </div>
                    <div class="text-container">
                        This course provides everything you need to get started in your career
                        in business analysis. Our courses focus on how analysis is performed in the real world, and they're full of examples,
                        case studies and lessons learned from actual Business Analysts on the job.
                        <a href="#">More</a>
                    </div>
                    <div class="time-container">13분 전</div>
                </div>
            </div>


            <div class="post">
                <div class="post-header">
                    <a href="#" class="profile"><img src="../image/logo_fav.png" alt=""></a>
                    <a href="#">Class: Soo's Business - Business Analysis</a>
                </div>
                <div class="thumbnail" style="cursor: pointer;" onclick="window.location='../intro.html';">
                    <img src="https://picsum.photos/600/600/?random" alt="">
                </div>
                <div class="post-footer">
                    <ul class="btn-container">
                        <li><a href="#"><img src="../image/member.png" alt="">15/20</a></li>
                        <li><a href="#"><img src="../image/price.png" alt="">$70</a></li>
                    </ul>
                    <div class="like-container">
                        <a href="#">[모집 중] 2021-01-07 ~ 2021-10-19</a>
                    </div>
                    <div class="text-container">
                        This course provides everything you need to get started in your career
                        in business analysis. Our courses focus on how analysis is performed in the real world, and they're full of examples,
                        case studies and lessons learned from actual Business Analysts on the job.
                        <a href="#">More</a>
                    </div>
                    <div class="time-container">13분 전</div>
                </div>
            </div>


            <div class="post">
                <div class="post-header">
                    <a href="#" class="profile"><img src="../image/logo_fav.png" alt=""></a>
                    <a href="#">Class: Soo's Business - Business Analysis</a>
                </div>
                <div class="thumbnail" style="cursor: pointer;" onclick="window.location='../intro.html';">
                    <img src="https://picsum.photos/600/600/?random" alt="">
                </div>
                <div class="post-footer">
                    <ul class="btn-container">
                        <li><a href="#"><img src="../image/member.png" alt="">15/20</a></li>
                        <li><a href="#"><img src="../image/price.png" alt="">$70</a></li>
                    </ul>
                    <div class="like-container">
                        <a href="#">[모집 중] 2021-01-07 ~ 2021-10-19</a>
                    </div>
                    <div class="text-container">
                        This course provides everything you need to get started in your career
                        in business analysis. Our courses focus on how analysis is performed in the real world, and they're full of examples,
                        case studies and lessons learned from actual Business Analysts on the job.
                        <a href="#">More</a>
                    </div>
                    <div class="time-container">13분 전</div>
                </div>
            </div>
        </div>
    </div>
    <!-- post-container -->
    {% include 'navbar.html' %}


    {% else %}
        <style>
        *{font-size: 35px;}
        #logo{
            background-size: cover;
            background-position: center;
            margin: 200px auto 0 auto;
        }
        #catchphrase{
            text-align: center;
            font-size: 60px;
        }
        #title{
            font-size: 130px;
        }

        .signupBtn{
            background-color: #bbe1f9;
            background-position: center;
            text-align: center;
            width: 400px;
            height: 100px;
            margin: 0 auto 0 auto;
            padding-top: 16px;
            border-radius: 10px;
        }
        </style>


    <div class="container">
        <div class="row my-3">
            <img src="{% static 'image/logo.png'%}" alt="logo" class="img-fluid w-80" id="logo">
        </div>
        <br>
        <div id="catchphrase" class="catchphrase">
            Study Wisely with
            <p id="title">STUDYWISE</p>
        </div>
    </div>
        <br>
    <div class="signupBtn">
        <a href="{% provider_login_url 'google' %}">
            <img src="{% static 'image/googleLogo.png'%}" alt="GoogleLogo"> Signup with Google
        </a>
    </div>
    {% endif %}
{% endblock %}