{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% providers_media_js %}

{% block head_title %}
    <title>STUDYWISE INTRO</title>
{% endblock %}

{% block head_css %}
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/feedcss.css">
    <link href="../css/navbar.css" rel="stylesheet">
    <style>
        * {
            font-family: 'Do Hyeon';
            font-size: 30px;
        }
    </style>
{% endblock %}

{% block body_1 %}
    {% if user.is_authenticated %}
        <div class="post-container">
        <div class="wrap">
            <div class="post">
                <div class="post-header">
                    <a href="#" class="profile"><img src="../image/logo_fav.png" alt=""></a>
                    <a href="#">Class: Soo's Business - Business Analysis</a>
                </div>
                <div class="thumbnail" style="cursor: pointer;" onclick="window.location='../intro.html';">
                    <img src="https://picsum.photos/600/600/?random" alt="">
                </div>
                <div class="post-footer">
                    <ul class="btn-container">
                        <li><a href="#"><img src="../image/member.png" alt="">15/20</a></li>
                        <li><a href="#"><img src="../image/price.png" alt="">$70</a></li>
                    </ul>
                    <div class="like-container">
                        <a href="#">[모집 중] 2021-01-07 ~ 2021-10-19</a>
                    </div>
                    <div class="text-container">
                        This course provides everything you need to get started in your career
                        in business analysis. Our courses focus on how analysis is performed in the real world, and they're full of examples,
                        case studies and lessons learned from actual Business Analysts on the job.
                        <a href="#">More</a>
                    </div>
                    <div class="time-container">13분 전</div>
                </div>
            </div>

            <div class="post">
                <div class="post-header">
                    <a href="#" class="profile"><img src="../image/logo_fav.png" alt=""></a>
                    <a href="#">Class: Soo's Business - Business Analysis</a>
                </div>
                <div class="thumbnail" style="cursor: pointer;" onclick="window.location='../intro.html';">
                    <img src="https://picsum.photos/600/600/?random" alt="">
                </div>
                <div class="post-footer">
                    <ul class="btn-container">
                        <li><a href="#"><img src="../image/member.png" alt="">15/20</a></li>
                        <li><a href="#"><img src="../image/price.png" alt="">$70</a></li>
                    </ul>
                    <div class="like-container">
                        <a href="#">[모집 중] 2021-01-07 ~ 2021-10-19</a>
                    </div>
                    <div class="text-container">
                        This course provides everything you need to get started in your career
                        in business analysis. Our courses focus on how analysis is performed in the real world, and they're full of examples,
                        case studies and lessons learned from actual Business Analysts on the job.
                        <a href="#">More</a>
                    </div>
                    <div class="time-container">13분 전</div>
                </div>
            </div>

            <div class="post">
                <div class="post-header">
                    <a href="#" class="profile"><img src="../image/logo_fav.png" alt=""></a>
                    <a href="#">Class: Soo's Business - Business Analysis</a>
                </div>
                <div class="thumbnail" style="cursor: pointer;" onclick="window.location='../intro.html';">
                    <img src="https://picsum.photos/600/600/?random" alt="">
                </div>
                <div class="post-footer">
                    <ul class="btn-container">
                        <li><a href="#"><img src="../image/member.png" alt="">15/20</a></li>
                        <li><a href="#"><img src="../image/price.png" alt="">$70</a></li>
                    </ul>
                    <div class="like-container">
                        <a href="#">[모집 중] 2021-01-07 ~ 2021-10-19</a>
                    </div>
                    <div class="text-container">
                        This course provides everything you need to get started in your career
                        in business analysis. Our courses focus on how analysis is performed in the real world, and they're full of examples,
                        case studies and lessons learned from actual Business Analysts on the job.
                        <a href="#">More</a>
                    </div>
                    <div class="time-container">13분 전</div>
                </div>
            </div>


            <div class="post">
                <div class="post-header">
                    <a href="#" class="profile"><img src="../image/logo_fav.png" alt=""></a>
                    <a href="#">Class: Soo's Business - Business Analysis</a>
                </div>
                <div class="thumbnail" style="cursor: pointer;" onclick="window.location='../intro.html';">
                    <img src="https://picsum.photos/600/600/?random" alt="">
                </div>
                <div class="post-footer">
                    <ul class="btn-container">
                        <li><a href="#"><img src="../image/member.png" alt="">15/20</a></li>
                        <li><a href="#"><img src="../image/price.png" alt="">$70</a></li>
                    </ul>
                    <div class="like-container">
                        <a href="#">[모집 중] 2021-01-07 ~ 2021-10-19</a>
                    </div>
                    <div class="text-container">
                        This course provides everything you need to get started in your career
                        in business analysis. Our courses focus on how analysis is performed in the real world, and they're full of examples,
                        case studies and lessons learned from actual Business Analysts on the job.
                        <a href="#">More</a>
                    </div>
                    <div class="time-container">13분 전</div>
                </div>
            </div>


            <div class="post">
                <div class="post-header">
                    <a href="#" class="profile"><img src="../image/logo_fav.png" alt=""></a>
                    <a href="#">Class: Soo's Business - Business Analysis</a>
                </div>
                <div class="thumbnail" style="cursor: pointer;" onclick="window.location='../intro.html';">
                    <img src="https://picsum.photos/600/600/?random" alt="">
                </div>
                <div class="post-footer">
                    <ul class="btn-container">
                        <li><a href="#"><img src="../image/member.png" alt="">15/20</a></li>
                        <li><a href="#"><img src="../image/price.png" alt="">$70</a></li>
                    </ul>
                    <div class="like-container">
                        <a href="#">[모집 중] 2021-01-07 ~ 2021-10-19</a>
                    </div>
                    <div class="text-container">
                        This course provides everything you need to get started in your career
                        in business analysis. Our courses focus on how analysis is performed in the real world, and they're full of examples,
                        case studies and lessons learned from actual Business Analysts on the job.
                        <a href="#">More</a>
                    </div>
                    <div class="time-container">13분 전</div>
                </div>
            </div>
        </div>
    </div>
    <!-- post-container -->


    <div class="navbar">
        <a href="../home/home.html" class="active col-3 nav-font">Home</a>
        <a href="../activity/activity_main.html" class="col-3 nav-font">Activity</a>
        <a href="../search/search_main.html" class="col-3 nav-font">Search</a>
        <a href="../profile/profile_main.html" class="col-3 nav-font">Profile</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    {% else %}
        <style>
            HTML CSSResult Skip Results Iframe
            body {
                display: flex;
                height: 100vh;
                margin: 0;
                background: #f1f1f1;
                align-items: center;
            }

            .button {
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-weight: 100;
                display: inline-block;
                margin: auto;
                padding: 20px 40px;
                cursor: pointer;
                user-select: none;
                transition: all 0.1s ease-out;
                text-decoration: none;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #f1f1f1;
                border: 1px solid #3b5998;
                background-color: #3b5998;
                border-radius: 20px;
                -webkit-font-smoothing: antialiased;
            }

            .button:hover {
                color: #3b5998;
                background-color: #f1f1f1;
            }

            /*
             * Other colors that look sexy
             * Light Blue #19c6ef
            */
        </style>
        <a href="{% provider_login_url 'google' %}">
            <div class="button">login with Google</div>
        </a>
    {% endif %}
{% endblock %}