<!DOCTYPE html>
<html>

<head>
    <title>Activity Main - StudyWise</title>
    <link href="../bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/feedoverlay.css">
    <link rel="stylesheet" href="../css/overlay.css">
    <link href="../css/navbar.css" rel="stylesheet">
    <style>
        * {
            font-family: 'Do Hyeon';
            font-size: 30px;
        }

        .activity {
            margin-bottom: 40px;
            max-height : 300px;
        }
    </style>
</head>

<body>
    <!-- post-container -->
    <div class="post-container">
        <div class="wrap">

            <div class="post">
                <div class="post-header">
                    <a href="#" class="profile"><img src="../image/logo_fav.png" alt=""></a>
                    <a href="#">Group</a>
                </div>
                <div class="thumbnail activity" style="cursor: pointer;" onclick="window.location='./group_profile.html';">
                    <h3>Soo's Business - Business Analysis</h3>
                    <p>Category1 > subCategory</p>
                    <p>서울시 서대문구 신촌로</p>
                </div>
            </div>


            <div class="post">
                <div class="post-header">
                    <a href="#" class="profile"><img src="../image/logo_fav.png" alt=""></a>
                    <a href="#">Class</a>
                </div>
                <div class="thumbnail activity" style="cursor: pointer;" onclick="window.location='./group_profile.html';">
                    <h3>Soo's Business - Business Analysis</h3>
                    <p>Category1 > subCategory</p>
                    <p>서울시 서대문구 신촌로</p>
                </div>
            </div>

            <div class="post">
                <div class="post-header">
                    <a href="#" class="profile"><img src="../image/logo_fav.png" alt=""></a>
                    <a href="#">Class</a>
                </div>
                <div class="thumbnail activity" style="cursor: pointer;" onclick="window.location='./group_profile.html';">
                    <h3>Soo's Business - Business Analysis</h3>
                    <p>Category1 > subCategory</p>
                    <p>서울시 서대문구 신촌로</p>
                </div>
            </div>


        </div>
    </div>
    <!-- post-container -->
    <div class="navbar">
        <a href="../home/home.html" class="col-3 nav-font">Home</a>
        <a href="../activity/activity_main.html" class="active col-3 nav-font">Activity</a>
        <a href="../search/search_main.html" class="col-3 nav-font">Search</a>
        <a href="../profile/profile_main.html" class="col-3 nav-font">Profile</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</body>

</html>